@charset "UTF-8";

body {
    background-color: rgb(40, 40, 40);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: lightseagreen;
}
h2 {
    color: lightslategrey;
}
p {
    text-align: justify;
    color: whitesmoke;
}