@charset "UTF-8";

body {
    background-color: rgb(40, 40, 40);
}
h1 {
    color: lightgoldenrodyellow;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
}
h2 {
    color: ivory;
    font-family: sans-serif;
    text-align: center;
    font-size: 20px;
}
p {
    color: whitesmoke;
    font-size: 16px;
    text-align: center;
    font-family: sans-serif;
    padding-bottom: 8px;
}
p#instru {
    padding-bottom: 16px;
}
p#links {
    text-align: justify;
}
li {
    list-style-image: url(media/atom-icon.png); 
    align-items: center;
}
a {
    color:aliceblue;
}
input {
    font-size: 18px;
    text-align: center;
}
input#result {
    border-radius: 10px;
    border: white;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 8px;
    cursor: pointer;
}
input#protons1, input#eletrons1, input#massa1 {
    border-radius: 10px;
    border: white;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}