@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #D1D2D0, #B9BFBF);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(103, 107, 107, 0.6);
}

h1 {
    color: #7D919C;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(124, 145, 156, 0.6);
}

h2 {
    color: #9DAFB6;
}

p {
    text-align: justify;
}

a {
    color: #8d8d8d;
}